In [67]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
DROP TABLE IF EXISTS Crop_Group;
DROP TABLE IF EXISTS FCID_Description;
DROP TABLE IF EXISTS Recipes_fcid;
DROP TABLE IF EXISTS Intake;
DROP TABLE IF EXISTS Compounds;
DROP TABLE IF EXISTS Foods_fcid;
DROP TABLE IF EXISTS Nutrients;
DROP TABLE IF EXISTS Components;
DROP TABLE IF EXISTS Foods_fdb;
DROP TABLE IF EXISTS Contents;
DROP TABLE IF EXISTS EFSA_Intake;


-- Tabelas FCID

CREATE TABLE Crop_Group (
  CGN TINYINT,
  CGL VARCHAR(6),
  Crop_Group_Description VARCHAR(100),
  PRIMARY KEY (CGL)
) AS SELECT
  CGN, CGL, Crop_Group_Description
FROM CSVREAD('../data/processed/fcid/FCID_Cropgroup_Description.csv');


-- Tabela com a descrição dos produtos alimentares utilizados nas receitas
CREATE TABLE FCID_Description (
  CGN VARCHAR(2),
  CG_Subgroup VARCHAR(6),
  FCID_Code VARCHAR(10),
  FCID_Desc VARCHAR(55),
  PRIMARY KEY (FCID_Code),
) AS SELECT
  cgn, CG_Subgroup, FCID_Code, FCID_Desc
FROM CSVREAD('../data/processed/fcid/FCID_Code_Description.csv');

-- Tabela de cmidas que são descritas na tabela de receitas
CREATE TABLE Foods_fcid (
  Food_Code VARCHAR(8),
  Food_Abbrev_Desc VARCHAR(55),
  Food_Desc VARCHAR(104)
) AS SELECT
  Food_Code, Food_Abbrev_Desc, Food_Desc
FROM CSVREAD('../data/processed/fcid/Food_Code_Description.csv');

-- Tabela de receitas cortada para viabilizar a análise no Binder
CREATE TABLE Recipes_fcid (
  Food_Code VARCHAR(8),
  Mod_Code VARCHAR(8),
  Ingredient_Num TINYINT,
  FCID_Code VARCHAR(10),
  Cooked_Status TINYINT,
  Food_Form TINYINT,
  Cooking_Method TINYINT,
  Commodity_Weight DECIMAL(8, 2),
  PRIMARY KEY(Food_Code, Mod_Code, Ingredient_Num),
  FOREIGN KEY(FCID_Code)
    REFERENCES FCID_Description(FCID_Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Food_Code)
    REFERENCES Foods_fcid(Food_Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT
  Food_Code, Mod_Code, Ingredient_Num, FCID_Code, Cooked_Status, Food_Form, Cooking_Method,
  Commodity_Weight
FROM CSVREAD('../data/processed/fcid/Recipes_WWEIA_FCID_0510.csv');

-- Tabela de consumo cortada para viabilizar a análise no binder
CREATE TABLE Intake (
  SeqN INTEGER NOT NULL,
  DayCode TINYINT NOT NULL,
  DraBF TINYINT,
  FCID_Code VARCHAR(10),
  Cooked_Status TINYINT,
  Food_Form TINYINT,
  Cooking_Method TINYINT,
  Intake DECIMAL(15,7),
  Intake_BW DECIMAL(15,10),
  PRIMARY KEY(SeqN, DayCode, FCID_Code, Cooked_Status, Food_Form, Cooking_Method),
  FOREIGN KEY(FCID_Code)
    REFERENCES FCID_Description(FCID_Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT
  SEQN, DAYCODE, DRABF, FCID_Code, Cooked_Status, Food_Form, Cooking_Method, Intake,Intake_BW
FROM CSVREAD('../data/processed/fcid/Commodity_CSFFM_Intake_0510_cropped.csv');


-- Tabelas do FoodDB
CREATE TABLE Nutrients (
  id TINYINT,
  public_id VARCHAR(12),
  name VARCHAR(55),
  calories_per_gram INT,
  PRIMARY KEY(id)
  ) AS SELECT
  id, public_id, name, calories_per_gram
FROM CSVREAD('../data/processed/foodb/Nutrient.csv');

CREATE TABLE Compounds (
  id INT,
  public_id VARCHAR(12),
  name VARCHAR(300),
  PRIMARY KEY(id)
  ) AS SELECT
  id, public_id, name
FROM CSVREAD('../data/processed/foodb/Compound.csv');

CREATE TABLE Foods_fdb (
id INT,
public_id VARCHAR(12),
name VARCHAR(55),
name_scientific VARCHAR(55),
--description VARCHAR(600), Retirado pq é muito grande e não vamos usar
food_group VARCHAR(55),
food_subgroup VARCHAR(55),
food_type VARCHAR(55),
PRIMARY KEY(id)
  ) AS SELECT
  id, public_id, name, name_scientific, food_group, food_subgroup, food_type 
FROM CSVREAD('../data/processed/foodb/Food.csv');


CREATE TABLE Contents (
id INT,
source_id INT,
source_type VARCHAR(20),
food_id INT,
orig_source_id VARCHAR(300),
orig_content DOUBLE,
orig_min DOUBLE,
orig_max DOUBLE,
orig_unit varchar(55)
  ) AS SELECT
  id, source_id, source_type, food_id, orig_source_id, orig_content, orig_min, orig_max, orig_unit
FROM CSVREAD('../data/interm/Content_tratado.csv');

org.h2.jdbc.JdbcSQLException:  Out of memory.; SQL statement

In [ ]:
CREATE INDEX idx_contents_source_id  ON Contents (source_id);
CREATE INDEX idx_contents_food_id  ON Contents (food_id);
CREATE INDEX idx_foods_fdb_id  ON Foods_fdb (id);
CREATE INDEX idx_nutrients_id  ON Contents (id);

org.h2.jdbc.JdbcSQLException:  Table "CONTENTS" not found; SQL statement

In [ ]:
SELECT TOP 100 *
FROM Contents

org.h2.jdbc.JdbcSQLException:  Table "CONTENTS" not found; SQL statement

In [ ]:
SELECT name, id, sum(calories_per_100g) as calories_per_100g
FROM (SELECT food.name, food.id,
    CASE
        WHEN cnts.orig_unit LIKE '%kcal%' THEN cnts.orig_source_id -- Supondo que orig_source_id está na tabela contents
        ELSE cnts.orig_content * ntr.calories_per_gram / 1000
    END AS calories_per_100g
FROM contents AS cnts
JOIN nutrients AS ntr 
    ON cnts.source_id = ntr.id AND cnts.source_type = 'Nutrient'
JOIN foods_fdb as food
    on cnts.food_id = food.id) as subquery
GROUP BY id, name
ORDER BY calories_per_100g desc

org.h2.jdbc.JdbcSQLException:  Table "CONTENTS" not found; SQL statement

In [ ]:
SELECT id, name, sum(calories_per_100g) as calories_per_100g
FROM (SELECT 
    food.id, 
    food.name,
    AVG( cnts.orig_content * ntr.calories_per_gram / 1000) AS calories_per_100g
FROM contents AS cnts
JOIN nutrients AS ntr 
    ON cnts.source_id = ntr.id AND cnts.source_type = 'Nutrient'
JOIN foods_fdb as food
    ON cnts.food_id = food.id
GROUP BY food.id, food.name, cnts.source_id) as subquery
GROUP BY id, name
ORDER BY calories_per_100g desc

org.h2.jdbc.JdbcSQLException:  Table "CONTENTS" not found; SQL statement

In [ ]:
SELECT COUNT(*)
FROM contents AS cnts
JOIN nutrients AS ntr 
    ON cnts.source_id = ntr.id AND cnts.source_type = 'Nutrient'

org.h2.jdbc.JdbcSQLException:  Table "CONTENTS" not found; SQL statement

In [ ]:
SELECT cnts.orig_content, source_id,
    food.id, 
    food.name,
        CASE
            WHEN cnts.orig_unit LIKE '%kcal%' THEN cnts.orig_source_id
            ELSE cnts.orig_content * ntr.calories_per_gram / 1000
        END AS calories_per_100g
FROM contents AS cnts
JOIN nutrients AS ntr 
    ON cnts.source_id = ntr.id AND cnts.source_type = 'Nutrient'
JOIN foods_fdb as food
    ON cnts.food_id = food.id
WHERE food.id = 205
--GROUP BY food.id, food.name, cnts.source_id

org.h2.jdbc.JdbcSQLException:  Table "CONTENTS" not found; SQL statement