In [2]:
%defaultDatasource jdbc:h2:mem:db

In [54]:
DROP TABLE IF EXISTS Crop_Group;
DROP TABLE IF EXISTS FCID_Description;
DROP TABLE IF EXISTS Recipes_fcid;
DROP TABLE IF EXISTS Intake;
DROP TABLE IF EXISTS Compounds;
DROP TABLE IF EXISTS Foods_fcid;
DROP TABLE IF EXISTS Nutrients;
DROP TABLE IF EXISTS Components;
DROP TABLE IF EXISTS Foods_fdb;
DROP TABLE IF EXISTS Contents;
DROP TABLE IF EXISTS EFSA_Intake;


-- Tabelas FCID

CREATE TABLE Crop_Group (
  CGN TINYINT,
  CGL VARCHAR(6),
  Crop_Group_Description VARCHAR(100),
  PRIMARY KEY (CGL)
) AS SELECT
  CGN, CGL, Crop_Group_Description
FROM CSVREAD('../data/processed/fcid/FCID_Cropgroup_Description.csv');


-- Tabela com a descrição dos produtos alimentares utilizados nas receitas
CREATE TABLE FCID_Description (
  CGN VARCHAR(2),
  CG_Subgroup VARCHAR(6),
  FCID_Code VARCHAR(10),
  FCID_Desc VARCHAR(55),
  PRIMARY KEY (FCID_Code),
) AS SELECT
  cgn, CG_Subgroup, FCID_Code, FCID_Desc
FROM CSVREAD('../data/processed/fcid/FCID_Code_Description.csv');

-- Tabela de cmidas que são descritas na tabela de receitas
CREATE TABLE Foods_fcid (
  Food_Code VARCHAR(8),
  Food_Abbrev_Desc VARCHAR(55),
  Food_Desc VARCHAR(104)
) AS SELECT
  Food_Code, Food_Abbrev_Desc, Food_Desc
FROM CSVREAD('../data/processed/fcid/Food_Code_Description.csv');

-- Tabela de receitas cortada para viabilizar a análise no Binder
CREATE TABLE Recipes_fcid (
  Food_Code VARCHAR(8),
  Mod_Code VARCHAR(8),
  Ingredient_Num TINYINT,
  FCID_Code VARCHAR(10),
  Cooked_Status TINYINT,
  Food_Form TINYINT,
  Cooking_Method TINYINT,
  Commodity_Weight DECIMAL(8, 2),
  PRIMARY KEY(Food_Code, Mod_Code, Ingredient_Num),
  FOREIGN KEY(FCID_Code)
    REFERENCES FCID_Description(FCID_Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Food_Code)
    REFERENCES Foods_fcid(Food_Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT
  Food_Code, Mod_Code, Ingredient_Num, FCID_Code, Cooked_Status, Food_Form, Cooking_Method,
  Commodity_Weight
FROM CSVREAD('../data/processed/fcid/Recipes_WWEIA_FCID_0510_cropped.csv');

-- Tabela de consumo cortada para viabilizar a análise no binder
CREATE TABLE Intake (
  SeqN INTEGER NOT NULL,
  DayCode TINYINT NOT NULL,
  DraBF TINYINT,
  FCID_Code VARCHAR(10),
  Cooked_Status TINYINT,
  Food_Form TINYINT,
  Cooking_Method TINYINT,
  Intake DECIMAL(15,7),
  Intake_BW DECIMAL(15,10),
  PRIMARY KEY(SeqN, DayCode, FCID_Code, Cooked_Status, Food_Form, Cooking_Method),
  FOREIGN KEY(FCID_Code)
    REFERENCES FCID_Description(FCID_Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT
  SEQN, DAYCODE, DRABF, FCID_Code, Cooked_Status, Food_Form, Cooking_Method, Intake,Intake_BW
FROM CSVREAD('../data/processed/fcid/Commodity_CSFFM_Intake_0510_cropped.csv');


-- Tabelas do FoodDB
CREATE TABLE Nutrients (
  id TINYINT,
  public_id VARCHAR(12),
  name VARCHAR(55),
  description VARCHAR(400),
  PRIMARY KEY(id)
  ) AS SELECT
  id, public_id, name, description
FROM CSVREAD('../data/processed/foodb/Nutrient.csv');

CREATE TABLE Compounds (
  id INT,
  public_id VARCHAR(12),
  name VARCHAR(300),
  PRIMARY KEY(id)
  ) AS SELECT
  id, public_id, name
FROM CSVREAD('../data/processed/foodb/Compound.csv');

CREATE TABLE Foods_fdb (
id INT,
public_id VARCHAR(12),
name VARCHAR(55),
name_scientific VARCHAR(55),
--description VARCHAR(600), Retirado pq é muito grande e não vamos usar
food_group VARCHAR(55),
food_subgroup VARCHAR(55),
food_type VARCHAR(55),
PRIMARY KEY(id)
  ) AS SELECT
  id, public_id, name, name_scientific, food_group, food_subgroup, food_type 
FROM CSVREAD('../data/processed/foodb/Food.csv');


CREATE TABLE Contents (
id INT,
source_id INT,
source_type VARCHAR(20),
food_id INT,
orig_food_id INT ,
orig_food_common_name VARCHAR(155),
orig_food_scientific_name VARCHAR(70),
orig_food_part VARCHAR(55),
orig_source_id VARCHAR(55),
orig_source_name VARCHAR(55),
orig_content DOUBLE,
orig_min DOUBLE,
orig_max DOUBLE,
orig_unit varchar(12),
  ) AS SELECT
  id, source_id, source_type, food_id, orig_food_id, orig_food_common_name, orig_food_scientific_name, orig_food_part,
  orig_source_id, orig_source_name, orig_content, orig_min, orig_max, orig_unit
FROM CSVREAD('../data/processed/foodb/Content_extra_cropped.csv');

In [ ]:
SELECT *
FROM Contents
WHERE ID is null

In [45]:
CREATE TABLE EFSA_Intake(
  Country VARCHAR(12),
  Year TINYINT,
  Population_Group VARCHAR(12),
  Exposure_Hierarchy_1 VARCHAR(55),
  Exposure_Hierarchy_7 VARCHAR(55),
  Number_of_Subjects INT,
  Number_of_Consumers DOUBLE(5,5), 
  Number_of_Consumers/Number_of_Subjects AS  Percent_of_Consumers,
  Intake_Mean DOUBLE(5,5),
  Intake_Mean_SI DOUBLE(5,5),
  Mean_consumers_BW DOUBLE(5,5),
  Mean_Subjects_BW DOUBLE(5,5)  
  ) AS SELECT
  Country, Year, Population_Group, 
  Exposure_Hierarchy_1, Exposure_Hierarchy_7, Percent_of_Consumers, Intake_Mean, Intake_Mean_SI, Mean_consumers_BW, Mean_Subjects_BW
FROM CSVREAD('../data/processed/efsa/EFSA_Intake.csv');

org.h2.jdbc.JdbcSQLException:  Syntax error in SQL statement "CREATE TABLE EFSA_INTAKE(